div {
    background-color: tomato;
    padding: 10px;
    margin-bottom: 10px;
    
}
h3{
    text-align: center;
}
img{
    margin-left: 10px;
    width: 300px;
    height: 200px;
    border: 2px solid bisque;
}
